.form-row {

  display: flex;
  
  flex-wrap: wrap;
  
  align-items: flex-start;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 75px;
  padding-right: 50px;

  border-bottom: 2px solid #e5e5e5;
}

.form-row .name {
  width: 250px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
  margin-top: 3%;
}



